.dovetail-app {
  .border {
    &-dashed {
      border-color: var(--link) !important;
      border-style: dashed !important;
      border-width: 1px !important;

      &:hover {
        border-color: var(--primary) !important;
      }
    }

    &-1 {
      border: 1px solid var(--selects);
    }

    &-card-no-bg {
      border: 1px solid #e3e5eb !important;
    }
  }
}
